@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    font-family: 'Merriweather', serif;
}

.marketHeader{
    font-family: 'Merriweather', serif;
}

.sidebarPlaceholder{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 18vw;
    float: left;
    background-color: #E6E6E6;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-top: 2%;
}

.bottomPlaceholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: black;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.bottomPlaceholder1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 50px;
    font-weight: 700;
}

.cardStyling{
    margin-left: 3%;
    margin-right: 3%;
    height: 80%;
}

.cardStylingNew{
    margin-left: 3%;
    margin-right: 3%;
    padding: 2% 0% 5% 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 100%;
    border: 1px black solid;
}

.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    background-color: #222222;
}

.mainContentNew{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    margin: 1% 0 2%;
}

.twoBoxesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.boxLeft{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: black solid 1px;
    background-color: white;
    padding-top: 3%;
}

.boxRight{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    border: black solid 1px;
    background-color: white;
}

.marketContent{
    display: flex;
    justify-content: start;
    padding-left: 10%;
    font-size: 20px;
}

.marketContentName{
    height:70px; 
    width: 100%;
}

.marketContentName h1{
    display: flex; 
    justify-content: center;
}

.percentChange{
    display: flex; 
    justify-content: center;
    font-weight: 700;
}

.percentChangePos{
    color: green;
    font-weight: 700;
}

.percentChangeNeg{
    color: red;
    font-weight: 700;
}

.sidebarPlaceholder ul{
    margin-left: 0;
}

.buttonStuff{
    margin: 1%;
}

.searchBarHeader{
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.tagsFooter{
    width:100%; 
    display: flex; 
    justify-content: center; 
    align-content: flex-end;
}

.searchBar{
    width: 50%; 
    display: inline;
}

.searchBarDiv{
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
}

.searchBarInputs{
    width: 40%; 
    display: inline
}

.compare1{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: black solid 1px;
    background-color: white;
    padding-top: 3%;
}

.compare2{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    border: black solid 1px;
    background-color: white;
    padding-top: 3%;
}

.boxLeftCompare{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: black solid 1px;
    background-color: white;
}

.boxRightCompare{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: black solid 1px;
    background-color: white;
    margin-left: 5%;
}

.graphHeader{
    font-family: 'Merriweather', serif;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 0
}

@media only screen and (max-width: 600px) {
    .mainContentNew{
        height: auto;
    }
    
    .twoBoxesContainer{
        flex-wrap: wrap;
    }
    
    .marketContent{
        font-size: 15px;
    }

    .boxLeft{
        font-size: 15px;
    }
    
    .boxRight{
        margin-left: 0;
        margin-top: 2%;
    }

    .buttonPlacement{
        margin-bottom: 2.5%;
    }

    .searchBar{
        width: 80%; 
    }

    .searchBarInputs{
        width: 100%;
    }

    .compare2{
        margin-top: 2%;
        margin-left: 0;
    }

    .boxRightCompare{
        margin-left: 0;
        margin-top: 2%;
    }
  }